<% include ../partials/header %>

<section class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead" >Sight Camp</p>
      <ul class="list-group">
        <li class="list-group-item" active>Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </ul>
    </div>
    <div class="clo-md-9">
      <div class="img-thumbnail">
        <img class="img-fluid" src="<%= camp.image %>">
        <div class="caption-full p-2">
          <h4 class="float-right ">'#bests'</h4>
          <h4><a href=""><%= camp.name %></a></h4>
          <p><%= camp.description %></p>
          <p><em>Submitted by </em><strong><%= camp.author.username %></strong></p>
          <a class="btn btn-warning"  href="/camps/<%= camp._id %>/edit">Edit</a>
          <form id="del-form" action="/camps/<%= camp._id %>?_method=delete" method="post">
          	<button onclick="return confirm('DELETE this camp?');" class="btn btn-danger">Delete</button>
          </form>
        </div>
        
      </div>
      <div class="well">
        <div class="text-right">
          <a class="btn btn-info" href="/camps/<%= camp._id %>/comments/new">Add new comment</a>
        </div>
        <hr>
        <% camp.comments.forEach((comment)=> { %>
          <div class="col-md-12">
            <strong>
              <%= comment.author.username %>
            </strong>
            <span class="float-right">10 days</span>
            <p>
              <%= comment.text %> 
            </p>
          </div>
        <% }); %>
      </div>
      <a class="btn btn-secondary" href="/camps">Go Back</a>
    </div>
  </div> 
</section>

<% include ../partials/footer %>
